@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.m-container {
  max-width: 768px;
}

.youtube-short {
  background-color: #000;
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
}

/* Plyr Js */

.plyr--video {
   /*.remove me for full video */
  height: 44px;
}

@media (min-width: 768px) {
  .plyr--video {
    height: 52px;
  }
}

.plyr--video .plyr__controls {
  background: #000 !important;
}

.show-video .plyr--video {
  height: auto;
}

.show-video .plyr--video .plyr__controls{
  background: transparent !important;
}

.plyr__controls .plyr__controls__item:first-child {
  background-color: #6bd3ff;
}
